#component-header {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: blueviolet;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 35px;

    strong  {
        font: 700 32px 'Quicksand', sans-serif; 
        color: #fff;  
    }

    button {
        cursor: pointer;
        background: blueviolet;
        border: none;
        color: white;
        display: block;
        margin-top: 20px;
        font: 500 24px 'Quicksand', sans-serif;

        &:hover {
            color: black;
        }
    }
}